.button:focused{
    -fx-text-fill: red;
}

.button{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: Pixeled;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

#SideText{
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: Pixeled;
    -fx-padding: 0 0 0 10;
    -fx-background-color: transparent;
}

#Headline{
    -fx-text-fill: white;
    -fx-font-size: 45;
    -fx-font-family: Pixeled;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

#Header{
    -fx-text-fill: white;
    -fx-font-size: 60;
    -fx-font-family: Pixeled;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}